POSTGRES_USER=amline
POSTGRES_PASSWORD=amline
POSTGRES_DB=amline
AUTH_PORT=9001
CONTRACT_PORT=9002
PEOPLE_PORT=3000
ADVISOR_PORT=3001
OPS_PORT=3002
NEXT_PUBLIC_AUTH_API=http://localhost:9001
NEXT_PUBLIC_CONTRACT_API=http://localhost:9002
